<form>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author"
      [(ngModel)]="author" name="author" required #authorTemp="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="authorTemp.invalid && authorTemp.dirty">
      NAME IS REQUIRED
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" 
      [(ngModel)]="email" name="email" required #emailTemp="ngModel">
    </div>
    <div class="alert alert-danger" *ngIf="emailTemp.invalid && emailTemp.dirty">
      EMAIL IS REQUIRED
    </div>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <select id="rating" class="form-select" [(ngModel)]="rating"
        name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea id="description" class="form-control" rows="5" 
        [(ngModel)]="description" name="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{author}}<br>
{{email}} <br>
{{rating}}<br>
{{description}}<br>